*.pyc
cache
data
doc
dist
build
TileStache-*.*
TileStache-*.*.tar.gz
TileStache.egg-info/
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shx
.coverage
.idea/
docker-compose.yml
gunicorn/config.py
nginx/nginx.conf
tilestache.cfg
vendor/
wheel/
