version: '2'

services:
  tilestache:
    image: billups-tilestache:latest
    container_name: tilestache
    ports:
      - '9090:9090'
    volumes:
      - ./cache:/usr/src/cache
      - ./data:/usr/src/data
      - ./gunicorn.py:/usr/src/gunicorn.py
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./tilestache.cfg:/usr/src/tilestache.cfg
    entrypoint: ./scripts/billups/runicorn.sh
