{
    "cache":
    {
        "name": "Test",
        "path": "/tmp/stache",
        "umask": "0000",
        "gzip": ["pbf"]
    },
    "layers":
    {
        "products":
        {
            "provider":
            {
                "name": "mbtiles",
                "tileset": "data/mbtiles/products.mbtiles"
            },
            "allowed origin": "*"
        },
        "markers":
        {
            "provider":
            {
                "name": "mbtiles",
                "tileset": "data/mbtiles/markers.mbtiles"
            },
            "allowed origin": "*"
        }
    }
}
