{
    "cache":
    {
        "name": "S3",
        "bucket": "billups-tile-cache",
        "access": "YourAwsAccessId",
        "secret": "YourAwsAccessSecret"
    },
    "layers":
    {
        "products":
        {
            "provider":
            {
                "name": "mbtiles",
                "tileset": "data/mbtiles/products.mbtiles"
            },
            "allowed origin": "*"
        },
        "markers":
        {
            "provider":
            {
                "name": "mbtiles",
                "tileset": "data/mbtiles/markers.mbtiles"
            },
            "allowed origin": "*"
        }
    }
}
