# -*- coding: utf-8 -*-
"""Gunicorn configuration file"""
import multiprocessing

bind = 'unix:/var/gunicorn/gunicorn.sock'
workers = multiprocessing.cpu_count()
accesslog = '-'
access_log_format = '%(t)s %(p)s STATUS: %(s)s TIME: %(L)ss "%(r)s"'
